<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahsulot qo'shish</title>
</head>
<body>
    <h1>Yangi mahsulot qo'shish</h1>
    <form action="/add_product" method="POST" enctype="multipart/form-data">
        <label for="name">Mahsulot nomi:</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="description">Ta'rifi:</label>
        <textarea id="description" name="description" required></textarea><br><br>

        <label for="price">Narxi:</label>
        <input type="number" id="price" name="price" required><br><br>

        <!-- Kategoriya tanlash -->
        <label for="category">Kategoriya:</label>
        <select id="category" name="category" required>
            <option value="Asbob uskunalar">Asbob uskunalar</option>
            <option value="Kiyimlar">Kiyimlar</option>
            <option value="Meva va sabzavotlar">Meva va sabzavotlar</option>
            <option value="Elektronika">Elektronika</option>
        </select><br><br>

        <label for="image">Rasmni tanlash:</label>
        <input type="file" id="image" name="image" accept="image/*"><br><br>

        <button type="submit">Mahsulotni qo'shish</button>
    </form>
    <br>
    <a href="/">Bosh sahifaga qaytish</a>
</body>
</html>
